/* Andrew Sanders
Responsive Travel Site - Responsive Style Sheet
 7/6/22 */

  body{
	 text-align: center;
	 
 }
 .images {
	 float: none;
}
article {
	float: center;
}
.images2 {
	display: none;
}
.images3 {
	display: none;
}

@media screen and (max-width: 1043px) {
	.text{
		text-align: left;
	 
 }
}
@media screen and (max-width: 706px) {
 body{
	 width: 100%;
 }
 	.text{
		
		text-align: center;
	 
 }
}